<mat-toolbar color="primary" class="app-header mat-elevation-z4">
    <div class="header-container">
        <div class="brand">
            <mat-icon class="logo-icon">assignment_turned_in</mat-icon>
            <span>TaskHub</span>
        </div>

        <div class="actions">
            <button mat-button>Dashboard</button>
            <button mat-icon-button matTooltip="Notifications">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Account Profile">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>